<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<div class="banner">
    <h1>.aronde</h1>
    <p> a girl in the wide IT world</p>
</div>

<div class="container-form">
    <h1>Form</h1>
    <form>
        <input type="text" , name="Title" , id="title" , maxlength="50">
    </form>
    <br>

    <div class="textarea">
        <form>
       <textarea rows="20" , cols="50" , name="Text" , id="text">
         </textarea>
        </form>
        <button class="button">SUBMIT</button>
        <div/>

    </div>
    <div class="footer">
        <p>Website made with ❤ by aronde</p>
    </div>
</body>
</html>